// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@include media-breakpoint-down(sm) {
  .btn-block-xs-only {
    display: block;
    margin-top: 5px;
    width: 100%;
  }
}
